/* Profile Modal V2 fix by Augenblick */
.visual-refresh {
  .focusLock__49fc1 {
    >.root__9c3be > .outer_c0bea0 > .inner_c0bea0 {
      padding: 0px 0px 0px 0px;

      >.profile__9c3be {
        border-radius: var(--radius-lg) var(--radius-lg) var(--radius-lg) var(--radius-lg);
        
        >.profileBody__9c3be {
          padding: 4px 32px 0px;
          margin-bottom: 22px;


          /* Connections: Border like from roles | Comment for no borders */
          >.section_bf424d.section_be87fd > .container__9bfb9.profileAppConnections__9c3be > .connection__9bfb9{
            padding: 7px;

            border: 1px solid var(--user-profile-border);
            border-radius: var(--radius-sm);
          }

          /* Horizontal layout | Comment for vertical layout */
          >.section_bf424d.section_be87fd > .container__9bfb9.profileAppConnections__9c3be {
            flex-direction: row; 
            flex-wrap: wrap; 
            align-items: flex-start;
            gap: 10px 16px;

            >.connection__9bfb9 > .connectionInfo__9bfb9 {
              min-width: 110px;
              /* If you want to cut the Names for a better layout uncomment this */
              /* max-width: 110px; */

              /* No metadata for better layout | Comment for metadata */
              .defaultColor__4bd52.text-xs\/normal_cf4812,
              >.metadata__9bfb9{
                display: none;
              }
            }
          }
        }
      }

      /* Friends & Server: Border like from roles | Comment for no Borders */
      >.container__37bfc > .tabBarPanel__37bfc > .scroller__28fdc {
        >.row__89036,
        >.row__0a95c {
          padding: 7px;
          border: 1px solid var(--user-profile-border);
          border-radius: var(--radius-sm);
        }
      } 
    }
  }
}

.section_bf424d.section_be87fd {
  .overlay_c0bea0.card__39ec2 {
    padding: 8px;
    .content__39ec2 {
      gap: 8px !important;
      
      .contentImage__42bf5 {
        max-height: 48px !important;
        min-width: 48px !important;
        min-height: 20px !important;
      }

      .details__39ec2 {
        gap: 2px;
        .heading-sm\/semibold_cf4812.defaultColor__5345c {
          font-size: 12px;
        }

        .badgeContainer__635ed {
          svg {
            width: 10px;
            height: 10px;
          }

          .lineClamp1__4bd52.text-xs\/normal_cf4812 {
            font-size: 10px;
          }
        }
      }
    }
  }
}
