/* Server Tag icon - Sever Setting */
.sidebar__23e6b [data-tab-id="TAG"].item_b3f026:before {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cpath fill='%23ffcda1' d='M5.5 7A1.5 1.5 0 0 1 4 5.5A1.5 1.5 0 0 1 5.5 4A1.5 1.5 0 0 1 7 5.5A1.5 1.5 0 0 1 5.5 7m15.91 4.58l-9-9C12.05 2.22 11.55 2 11 2H4c-1.11 0-2 .89-2 2v7c0 .55.22 1.05.59 1.41l8.99 9c.37.36.87.59 1.42.59s1.05-.23 1.41-.59l7-7c.37-.36.59-.86.59-1.41c0-.56-.23-1.06-.59-1.42'/%3E%3C/svg%3E");
}

/* Settings pages */
.sidebar__23e6b [data-tab-id].item_b3f026 {
    display: flex;
    gap: 12px;
    padding-left: 12px;
    align-items: center;
}
.sidebar__23e6b [data-tab-id].item_b3f026:before {
    position: relative;
    content: " ";
    width: 20px;
    height: 20px;
    background-color: var(--interactive-normal);
    mask-size: 100%;
    opacity: 0.8;
}
.sidebar__23e6b [data-tab-id="My Account"].item_b3f026:before {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cpath fill='%23989796' d='M12 1L3 5v6c0 5.55 3.84 10.74 9 12c5.16-1.26 9-6.45 9-12V5zm0 4a3 3 0 0 1 3 3a3 3 0 0 1-3 3a3 3 0 0 1-3-3a3 3 0 0 1 3-3m5.13 12A9.7 9.7 0 0 1 12 20.92A9.7 9.7 0 0 1 6.87 17c-.34-.5-.63-1-.87-1.53c0-1.65 2.71-3 6-3s6 1.32 6 3c-.24.53-.53 1.03-.87 1.53'/%3E%3C/svg%3E"); 
}
.sidebar__23e6b [data-tab-id="Profile Customization"].item_b3f026:before {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cpath fill='%23989796' d='M12 2A10 10 0 0 0 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2m0 6.39A9.97 9.97 0 0 0 17.42 10c.78 0 1.53-.09 2.25-.26c.21.71.33 1.47.33 2.26c0 4.41-3.59 8-8 8c-3 0-5.61-1.66-7-4.11L6.75 14v-1A1.25 1.25 0 0 1 8 11.75A1.25 1.25 0 0 1 9.25 13v1H12m4-2.25A1.25 1.25 0 0 0 14.75 13A1.25 1.25 0 0 0 16 14.25A1.25 1.25 0 0 0 17.25 13A1.25 1.25 0 0 0 16 11.75'/%3E%3C/svg%3E"); 
}
.sidebar__23e6b [data-tab-id="Content & Social"].item_b3f026:before {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 512 512'%3E%3Cpath fill='%23989796' d='M496 347.21a190.3 190.3 0 0 1-32.79-5.31c-27.28-6.63-54.84-24.26-68.12-52.43c-6.9-14.63-2.64-18.59 11.86-24c14.18-5.27 29.8-7.72 36.86-23c5.89-12.76 1.13-27.76-10.41-35.49c-15.71-10.53-30.35-.21-46.62 2.07c3.73-46.66 8.66-88.57-22.67-127.73C338.14 48.86 297.34 32 256.29 32s-81.86 16.86-107.81 49.33c-31.38 39.26-26.4 81.18-22.67 127.92c-16.32-2.25-30.81-12.79-46.63-2.18c-14.72 9.85-17 29.76-5.44 43s31.64 9.5 43.45 20.6c6.49 6.09 3.49 12.61-.35 20.14c-14.48 28.4-39.26 45.74-69.84 51.56c-4 .76-22.31 2.87-31 3.65c0 9.28.52 16.78 1.63 21.73c2.94 13.06 12.32 23.58 23.69 30.1c11.18 6.4 35.48 6.43 41.68 15.51c3 4.48 1.76 12.28 5.33 17.38a23.8 23.8 0 0 0 15.37 9.75c18.61 3.61 37.32-7.2 56.42-2.1c14.85 3.95 26.52 15.87 39.26 24c15.51 9.85 32.34 16.42 50.83 17.49c38.1 2.21 59.93-18.91 90.58-36.42c19.5-11.14 38.15-3.86 58.88-2.68c20.1 1.15 23.53-9.25 29.62-24.88a27.4 27.4 0 0 0 1.54-4.85a10.5 10.5 0 0 0 2.28-1.47c2-1.57 10.55-2.34 12.76-2.86c10.28-2.44 20.34-5.15 29.17-11.2c11.31-7.76 17.65-18.5 19.58-32.64a94 94 0 0 0 1.38-15.67M208 128c8.84 0 16 10.74 16 24s-7.16 24-16 24s-16-10.74-16-24s7.16-24 16-24m103.62 77.7c-15.25 15-35 23.3-55.62 23.3a78.37 78.37 0 0 1-55.66-23.34a8 8 0 0 1 11.32-11.32A62.46 62.46 0 0 0 256 213c16.39 0 32.15-6.64 44.39-18.7a8 8 0 0 1 11.23 11.4M304 176c-8.84 0-16-10.75-16-24s7.16-24 16-24s16 10.75 16 24s-7.16 24-16 24'/%3E%3C/svg%3E"); 
}
.sidebar__23e6b [data-tab-id="Data & Privacy"].item_b3f026:before {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cpath fill='%23989796' d='M7.75 2.5a.75.75 0 0 0-1.5 0v1.58c-1.44.115-2.384.397-3.078 1.092c-.695.694-.977 1.639-1.093 3.078h19.842c-.116-1.44-.398-2.384-1.093-3.078c-.694-.695-1.639-.977-3.078-1.093V2.5a.75.75 0 0 0-1.5 0v1.513C15.585 4 14.839 4 14 4h-4c-.839 0-1.585 0-2.25.013z'/%3E%3Cpath fill='%23989796' fill-rule='evenodd' d='M22 12c0-.839 0-1.585-.013-2.25H2.013C2 10.415 2 11.161 2 12v2c0 3.771 0 5.657 1.172 6.828S6.229 22 10 22h4c3.771 0 5.657 0 6.828-1.172S22 17.771 22 14zm-8 .25A1.75 1.75 0 0 0 12.25 14v2a1.75 1.75 0 1 0 3.5 0v-2A1.75 1.75 0 0 0 14 12.25m0 1.5a.25.25 0 0 0-.25.25v2a.25.25 0 1 0 .5 0v-2a.25.25 0 0 0-.25-.25m-3.213-1.443a.75.75 0 0 1 .463.693v4a.75.75 0 0 1-1.5 0v-2.19l-.22.22a.75.75 0 0 1-1.06-1.06l1.5-1.5a.75.75 0 0 1 .817-.163' clip-rule='evenodd'/%3E%3C/svg%3E"); 
}
.sidebar__23e6b [data-tab-id="Family Center"].item_b3f026:before {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 16 16'%3E%3Cpath fill='%23989796' d='M9.5 7.5a1.5 1.5 0 1 1-3.001-.001A1.5 1.5 0 0 1 9.5 7.5M14.27 4h-2.54A1.73 1.73 0 0 0 10 5.73V9a1 1 0 0 0 1 1v6h4v-6a1 1 0 0 0 1-1V5.73A1.73 1.73 0 0 0 14.27 4'/%3E%3Cpath fill='%23989796' d='M15 2a2 2 0 1 1-3.999.001A2 2 0 0 1 15 2M4.27 5H1.73a1.73 1.73 0 1 0 .001 3.461A1.73 1.73 0 0 0 1.73 5A1.73 1.73 0 0 0 0 6.73V9a1 1 0 0 0 1 1l-1 3h1v3h4v-3h1l-1-3a1 1 0 0 0 1-1V6.73A1.73 1.73 0 0 0 4.27 5'/%3E%3Cpath fill='%23989796' d='M5 3a2 2 0 1 1-3.999.001A2 2 0 0 1 5 3m2 10v3h2v-3a1 1 0 0 0 1-1v-1.54A1.46 1.46 0 0 0 8.54 9H7.46A1.46 1.46 0 0 0 6 10.46V12a1 1 0 0 0 1 1'/%3E%3C/svg%3E"); 
}
.sidebar__23e6b [data-tab-id="Authorized Apps"].item_b3f026:before {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cpath fill='%23989796' d='M6.75 2.5A4.25 4.25 0 0 1 11 6.75V11H6.75a4.25 4.25 0 0 1 0-8.5m0 10.5H11v4.25A4.25 4.25 0 1 1 6.75 13m10.5-10.5a4.25 4.25 0 0 1 0 8.5H13V6.75a4.25 4.25 0 0 1 4.25-4.25M13 13h4.25A4.25 4.25 0 1 1 13 17.25z'/%3E%3C/svg%3E"); 
}
.sidebar__23e6b [data-tab-id="Sessions"].item_b3f026:before {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cpath fill='%23989796' d='M7 23q-.825 0-1.412-.587T5 21V3q0-.825.588-1.412T7 1h10q.825 0 1.413.588T19 3v18q0 .825-.587 1.413T17 23zm5-2.5q.425 0 .713-.288T13 19.5t-.288-.712T12 18.5t-.712.288T11 19.5t.288.713t.712.287M7 16h10V6H7z'/%3E%3C/svg%3E"); 
}
.sidebar__23e6b [data-tab-id="Connections"].item_b3f026:before {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 48 48'%3E%3Cg fill='none' stroke='%23989796' stroke-linejoin='round' stroke-width='4'%3E%3Cpath stroke-linecap='round' d='M36 8H13c-3 0-9 2-9 8s6 8 9 8h22c3 0 9 2 9 8s-6 8-9 8H12'/%3E%3Cpath d='M40 12a4 4 0 1 0 0-8a4 4 0 0 0 0 8ZM8 44a4 4 0 1 0 0-8a4 4 0 0 0 0 8Z'/%3E%3C/g%3E%3C/svg%3E"); 
}
.sidebar__23e6b [data-tab-id="Settings Clips"].item_b3f026:before {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Ccircle cx='12' cy='12' r='9.25' stroke='%23989796' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.3'/%3E%3Ccircle cx='12' cy='12' r='5' fill='%23989796'/%3E%3C/g%3E%3C/svg%3E"); 
}

.sidebar__23e6b [data-tab-id="Discord Nitro"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/nitro.svg);
}
.sidebar__23e6b .item_b3f026 svg {
    display: none;
}
.sidebar__23e6b [data-tab-id="Nitro Server Boost"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/boost.svg); 
}
.sidebar__23e6b [data-tab-id="Subscriptions"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/subscription.svg); 
}
.sidebar__23e6b [data-tab-id="Library Inventory"].item_b3f026:before {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg fill='%23989796'%3E%3Cpath fill-rule='evenodd' d='M5 5a3 3 0 0 1 5-2.236A3 3 0 0 1 14.83 6H16a2 2 0 1 1 0 4h-5V9a1 1 0 1 0-2 0v1H4a2 2 0 1 1 0-4h1.17C5.06 5.687 5 5.35 5 5m4 1V5a1 1 0 1 0-1 1zm3 0a1 1 0 1 0-1-1v1z' clip-rule='evenodd'/%3E%3Cpath d='M9 11H3v5a2 2 0 0 0 2 2h4zm2 7h4a2 2 0 0 0 2-2v-5h-6z'/%3E%3C/g%3E%3C/svg%3E"); 
}
.sidebar__23e6b [data-tab-id="Billing"].item_b3f026:before {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cpath fill='%23989796' fill-rule='evenodd' d='M2 1.25a.75.75 0 0 0 0 1.5h2v9.527c0 1.34 0 2.01.268 2.601s.772 1.032 1.781 1.915l2 1.75c1.883 1.647 2.824 2.47 3.951 2.47s2.069-.823 3.951-2.47l2-1.75c1.008-.883 1.513-1.324 1.78-1.915c.269-.59.269-1.26.269-2.6V2.75h2a.75.75 0 0 0 0-1.5zm6.5 11a.75.75 0 0 0 0 1.5h7a.75.75 0 0 0 0-1.5zM7.75 8a.75.75 0 0 1 .75-.75h7a.75.75 0 0 1 0 1.5h-7A.75.75 0 0 1 7.75 8' clip-rule='evenodd'/%3E%3C/svg%3E"); 
}

.sidebar__23e6b [data-tab-id="Appearance"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/pallete.svg); 
}
.sidebar__23e6b [data-tab-id="Accessibility"].item_b3f026:before {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 16 16'%3E%3Cpath fill='%23989796' d='M8 4.5A1.75 1.75 0 1 0 8 1a1.75 1.75 0 0 0 0 3.5M4.198 3.115a1.6 1.6 0 0 0-2.076.873a1.58 1.58 0 0 0 .87 2.07l1.695.685A.5.5 0 0 1 5 7.206V9.13a.5.5 0 0 1-.058.234l-1.755 3.3a1.591 1.591 0 1 0 2.81 1.495l1.783-3.353a.25.25 0 0 1 .441 0l1.783 3.353a1.591 1.591 0 1 0 2.81-1.494L11.06 9.362a.5.5 0 0 1-.06-.235v-1.92a.5.5 0 0 1 .313-.464l1.695-.685a1.58 1.58 0 0 0 .87-2.07a1.6 1.6 0 0 0-2.076-.873l-.781.316c-.256.103-.44.3-.545.518a2.75 2.75 0 0 1-4.952 0a1.05 1.05 0 0 0-.545-.518z'/%3E%3C/svg%3E"); 
}
.sidebar__23e6b [data-tab-id="Voice & Video"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/voice.svg); 
}
.sidebar__23e6b [data-tab-id="Text & Images"].item_b3f026:before {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cpath fill='%23989796' fill-rule='evenodd' d='M12 3a9 9 0 0 0 0 18h4.5c1.398 0 2.097 0 2.648-.228a3 3 0 0 0 1.624-1.624C21 18.597 21 17.898 21 16.5V12a9 9 0 0 0-9-9m-4 8a1 1 0 0 1 1-1h6a1 1 0 1 1 0 2H9a1 1 0 0 1-1-1m3 4a1 1 0 0 1 1-1h3a1 1 0 1 1 0 2h-3a1 1 0 0 1-1-1' clip-rule='evenodd'/%3E%3C/svg%3E"); 
}
.sidebar__23e6b [data-tab-id="Notifications"].item_b3f026:before {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cpath fill='%23989796' d='M3 18a1 1 0 0 1-.894-1.447L4 12.763V10a8 8 0 1 1 16 0v2.764l1.894 3.789A1 1 0 0 1 21 18zm9 4a4 4 0 0 1-3.874-3h7.748A4 4 0 0 1 12 22'/%3E%3C/svg%3E"); 
}
.sidebar__23e6b [data-tab-id="Keybinds"].item_b3f026:before {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cpath fill='%23989796' d='M19.745 5a2.25 2.25 0 0 1 2.25 2.25v9.505a2.25 2.25 0 0 1-2.25 2.25H4.25A2.25 2.25 0 0 1 2 16.755V7.25A2.25 2.25 0 0 1 4.25 5zM6.5 16H10a.75.75 0 0 0 0-1.5H6.5a.75.75 0 0 0 0 1.5m7.5 0h3.5a.75.75 0 0 0 0-1.5H14a.75.75 0 0 0 0 1.5m3.5-5a1 1 0 1 0 0 2a1 1 0 0 0 0-2m-2.995 0a1 1 0 1 0 0 2a1 1 0 0 0 0-2m-5 0a1 1 0 1 0 0 2a1 1 0 0 0 0-2m-3 0a1 1 0 1 0 0 2a1 1 0 0 0 0-2M6 8a1 1 0 1 0 0 2a1 1 0 0 0 0-2m2.995 0a1 1 0 1 0 0 2a1 1 0 0 0 0-2m6 0a1 1 0 1 0 0 2a1 1 0 0 0 0-2m3 0a1 1 0 1 0 0 2a1 1 0 0 0 0-2'/%3E%3C/svg%3E"); 
}
.sidebar__23e6b [data-tab-id="Language"].item_b3f026:before {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cpath fill='%23989796' d='M11 1H3c-1.1 0-2 .9-2 2v12l3-3h5v-1c0-2.2 1.79-4 4-4V3c0-1.1-.9-2-2-2m0 3H9.5c-.34 1.19-.96 2.3-1.82 3.26l-.02.02l1.26 1.25l-.37 1.01L7 8l-2.5 2.5l-.69-.73l2.53-2.49A8.6 8.6 0 0 1 4.86 5h.99c.31.6.69 1.17 1.15 1.68A7.7 7.7 0 0 0 8.57 4H3V3h3.5V2h1v1H11zm10 5h-8c-1.1 0-2 .9-2 2v7c0 1.1.9 2 2 2h7l3 3V11c0-1.1-.9-2-2-2m-1.37 10l-.85-2.25h-3.56L14.38 19h-1.5l3.37-9h1.5l3.38 9zM17 12l1.22 3.25h-2.43z'/%3E%3C/svg%3E"); 
}
.sidebar__23e6b [data-tab-id="Windows"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/windows.svg); 
}
.sidebar__23e6b [data-tab-id="Streamer Mode"].item_b3f026:before {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cpath fill='%23989796' d='M5 5.5a2.75 2.75 0 0 0-2.75 2.75v7.5A2.75 2.75 0 0 0 5 18.5h8.5a2.75 2.75 0 0 0 2.75-2.75v-1.594l3.419 3.045c.805.717 2.081.145 2.081-.934V7.365c0-1.08-1.276-1.651-2.081-.934L16.25 9.476V8.25A2.75 2.75 0 0 0 13.5 5.5z'/%3E%3C/svg%3E"); 
}
.sidebar__23e6b [data-tab-id="Advanced"].item_b3f026:before {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 256 256'%3E%3Cpath fill='%23989796' d='M237.94 107.21a8 8 0 0 0-3.89-5.4l-29.83-17l-.12-33.62a8 8 0 0 0-2.83-6.08a111.9 111.9 0 0 0-36.72-20.67a8 8 0 0 0-6.46.59L128 41.85L97.88 25a8 8 0 0 0-6.47-.6a111.9 111.9 0 0 0-36.68 20.75a8 8 0 0 0-2.83 6.07l-.15 33.65l-29.83 17a8 8 0 0 0-3.89 5.4a106.5 106.5 0 0 0 0 41.56a8 8 0 0 0 3.89 5.4l29.83 17l.12 33.63a8 8 0 0 0 2.83 6.08a111.9 111.9 0 0 0 36.72 20.67a8 8 0 0 0 6.46-.59L128 214.15L158.12 231a7.9 7.9 0 0 0 3.9 1a8.1 8.1 0 0 0 2.57-.42a112.1 112.1 0 0 0 36.68-20.73a8 8 0 0 0 2.83-6.07l.15-33.65l29.83-17a8 8 0 0 0 3.89-5.4a106.5 106.5 0 0 0-.03-41.52M128 168a40 40 0 1 1 40-40a40 40 0 0 1-40 40'/%3E%3C/svg%3E"); 
}

.sidebar__23e6b [data-tab-id="Activity Privacy"].item_b3f026:before {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 26 26'%3E%3Cpath fill='%23989796' d='M13 0C9.155 0 6 3.155 6 7v1H5c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2h-1V7c0-3.845-3.155-7-7-7m0 2c2.755 0 5 2.245 5 5v1H8V7c0-2.755 2.245-5 5-5m0 9c2.8 0 5 2.2 5 5s-2.2 5-5 5s-5-2.2-5-5s2.2-5 5-5m0 2c-1.7 0-3 1.3-3 3s1.3 3 3 3s3-1.3 3-3c0-.3-.094-.606-.094-.906c-.3.5-.806.906-1.406.906c-.8 0-1.5-.7-1.5-1.5c0-.6.406-1.106.906-1.406c-.3 0-.606-.094-.906-.094'/%3E%3C/svg%3E"); 
}
.sidebar__23e6b [data-tab-id="Game Activity"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/gameactivity.svg); 
}
.sidebar__23e6b [data-tab-id="Overlay"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/overlay.svg); 
}

.sidebar__23e6b [data-tab-id="changelog"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/changelog.svg); 
}
.sidebar__23e6b [data-tab-id="merchandise"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/merch.svg); 
}
.sidebar__23e6b [data-tab-id="Hypesquad Online"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/Hypesquad.svg); 
    scale: 1.3;
    transform: translate(0px, 4px);
}

.sidebar__23e6b [data-tab-id="Experiments"].item_b3f026:before {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 48 48'%3E%3Cg fill='none' stroke='%23989796' stroke-width='4'%3E%3Cpath stroke-linecap='round' d='M12 4h24'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m10.777 30l7.242-14.961V4h12.01v11.039L37.245 30'/%3E%3Cpath fill='%23989796' stroke-linejoin='round' d='M7.794 43.673a3.273 3.273 0 0 1-1.52-4.372L10.777 30S18 35 24 30s13.246 0 13.246 0l4.49 9.305A3.273 3.273 0 0 1 38.787 44H9.22c-.494 0-.981-.112-1.426-.327Z'/%3E%3C/g%3E%3C/svg%3E"); 
}
.sidebar__23e6b [data-tab-id="Developer Options"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/wrench.svg); 
}
.sidebar__23e6b [data-tab-id="Hotspot Options"].item_b3f026:before {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23989796' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.3' color='%23989796'%3E%3Ccircle cx='12' cy='14' r='2'/%3E%3Cpath d='M4 20.001A9.96 9.96 0 0 1 2 14C2 8.477 6.477 4 12 4s10 4.477 10 10c0 2.252-.744 4.33-2 6.001'/%3E%3Cpath d='M7.528 18a6 6 0 1 1 8.944 0'/%3E%3C/g%3E%3C/svg%3E"); 
}
.sidebar__23e6b [data-tab-id="Dismissible Content Options"].item_b3f026:before {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cpath fill='%23989796' d='M18.564 10.108a.347.347 0 0 1-.364.368h-6.974a.35.35 0 0 1-.369-.368v-.79a.35.35 0 0 1 .37-.368h6.964a.347.347 0 0 1 .364.369zm3.085 2.29a.347.347 0 0 1-.368.37h-8.59a.343.343 0 0 1-.363-.37v-.807a.342.342 0 0 1 .364-.364h8.514a.346.346 0 0 1 .369.364zm2.35 2.35a.347.347 0 0 1-.37.368h-9.32a.342.342 0 0 1-.364-.368v-.803a.342.342 0 0 1 .364-.37h9.321a.347.347 0 0 1 .368.37zm0 2.352a.347.347 0 0 1-.37.364h-9.32a.343.343 0 0 1-.364-.364v-.807a.342.342 0 0 1 .364-.37h9.321a.347.347 0 0 1 .368.37zm-2.35 2.273a.35.35 0 0 1-.368.37h-8.589a.347.347 0 0 1-.364-.37v-.807a.346.346 0 0 1 .364-.37h8.515a.35.35 0 0 1 .368.37zm-3.085 2.349a.346.346 0 0 1-.364.368h-6.974a.35.35 0 0 1-.369-.368v-.808a.347.347 0 0 1 .37-.365h6.964a.343.343 0 0 1 .364.365zM5.354 3.087a.347.347 0 0 0 .37.364h6.97a.342.342 0 0 0 .367-.365V2.28a.346.346 0 0 0-.368-.369h-6.97a.35.35 0 0 0-.367.37ZM2.35 5.43a.342.342 0 0 0 .364.364h8.514a.346.346 0 0 0 .368-.364v-.807a.35.35 0 0 0-.368-.37H2.712a.346.346 0 0 0-.364.37ZM0 7.778a.342.342 0 0 0 .364.364h9.321a.342.342 0 0 0 .364-.364V6.97a.346.346 0 0 0-.364-.37H.365a.347.347 0 0 0-.364.37Zm0 2.33a.347.347 0 0 0 .364.37h9.321a.346.346 0 0 0 .364-.37v-.79a.346.346 0 0 0-.364-.368H.365A.347.347 0 0 0 0 9.319Zm2.347 2.291a.342.342 0 0 0 .365.368h8.513a.346.346 0 0 0 .37-.368v-.808a.346.346 0 0 0-.37-.364H2.713a.342.342 0 0 0-.365.364zm3.008 2.348a.346.346 0 0 0 .369.368h6.968a.346.346 0 0 0 .37-.368v-.803a.346.346 0 0 0-.37-.37H5.725a.347.347 0 0 0-.37.37z'/%3E%3C/svg%3E"); 
}
.sidebar__23e6b [data-tab-id="Payment Flow Modals"].item_b3f026:before {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 32 32'%3E%3Cpath fill='%23989796' d='M6.5 5A4.5 4.5 0 0 0 2 9.5V11h28V9.5A4.5 4.5 0 0 0 25.5 5zM2 22.5V13h28v9.5a4.5 4.5 0 0 1-4.5 4.5h-19A4.5 4.5 0 0 1 2 22.5M21 19a1 1 0 1 0 0 2h3a1 1 0 1 0 0-2z'/%3E%3C/svg%3E"); 
}
.sidebar__23e6b [data-tab-id="Revenue Storybook"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/banknotes.svg); 
}
.sidebar__23e6b [data-tab-id="Virtual Currency Configuration"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/wallet.svg); 
}
.sidebar__23e6b [data-tab-id="Design System"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/pallete.svg); 
}
.sidebar__23e6b [data-tab-id="Text Playground"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/textplayground.svg); 
}
.sidebar__23e6b [data-tab-id="Text Component"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/textcomponent.svg); 
}
.sidebar__23e6b [data-tab-id="Intl Testing"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/custom/msg_translate_filled_solar.svg); 
}
.sidebar__23e6b [data-tab-id="Profile Effects Preview Tool"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/specialeffects.svg); 
}
.sidebar__23e6b [data-tab-id="Nameplates Preview Tool"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/nameplates.svg); 
}
.sidebar__23e6b [data-tab-id="Web Setting Tree Tool"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/globe.svg); 
}

.sidebar__23e6b [data-tab-id="logout"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/logout.svg); 
}

.sidebar__23e6b [data-tab-id="PROFILE"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/information.svg); 
}
.sidebar__23e6b [data-tab-id="OVERVIEW"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/information.svg); 
}
.sidebar__23e6b [data-tab-id="ENGAGEMENT"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/merch.svg); 
}
.sidebar__23e6b [data-tab-id="BOOST_PERKS"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/boost.svg); 
}
.sidebar__23e6b [data-tab-id="EMOJI"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/emoji.svg); 
}
.sidebar__23e6b [data-tab-id="STICKERS"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/sticker.svg); 
}
.sidebar__23e6b [data-tab-id="SOUNDBOARD"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/soundboard.svg); 
}
.sidebar__23e6b [data-tab-id="MEMBERS"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/users.svg); 
}
.sidebar__23e6b [data-tab-id="ROLES"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/usershield.svg); 
}
.sidebar__23e6b [data-tab-id="INVITES"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/link.svg); 
}
.sidebar__23e6b [data-tab-id="INSTANT_INVITES"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/link.svg); 
}
.sidebar__23e6b [data-tab-id="ACCESS"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/key.svg); 
}
.sidebar__23e6b [data-tab-id="INTEGRATIONS"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/connections.svg); 
}
.sidebar__23e6b [data-tab-id="APP_DIRECTORY"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/custom/apps.svg); 
}
.sidebar__23e6b [data-tab-id="SAFETY"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/usershield.svg); 
}
.sidebar__23e6b [data-tab-id="AUDIT_LOG"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/clipboard.svg); 
}
.sidebar__23e6b [data-tab-id="BANS"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/hammer.svg); 
}
.sidebar__23e6b [data-tab-id="COMMUNITY"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/community.svg); 
}
.sidebar__23e6b [data-tab-id="ONBOARDING"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/onboarding.svg); 
}
.sidebar__23e6b [data-tab-id="ANALYTICS"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/analytics.svg); 
}
.sidebar__23e6b [data-tab-id="COMMUNITY_WELCOME"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/communitywelcome.svg); 
}
.sidebar__23e6b [data-tab-id="DISCOVERY_LANDING_PAGE"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/discoverylandingpage.svg); 
}
.sidebar__23e6b [data-tab-id="ROLE_SUBSCRIPTIONS"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/sale.svg); 
}
.sidebar__23e6b [data-tab-id="GUILD_PRODUCTS"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/ticket.svg); 
}
.sidebar__23e6b [data-tab-id="ROLE_SUBSCRIPTIONS_STORE_PAGE"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/subcriptionpage.svg); 
}
.sidebar__23e6b [data-tab-id="GUILD_PREMIUM"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/safe.svg); 
}
.sidebar__23e6b [data-tab-id="GUILD_TEMPLATES"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/template.svg); 
}
.sidebar__23e6b [data-tab-id="DELETE"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/delete.svg); 
}
.sidebar__23e6b [data-tab-id="PERMISSIONS"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/permissions.svg); 
}

/* Vencord & Equicord */
.sidebar__23e6b [data-tab-id="EquicordSettings"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/equicord.svg); 
    scale: 0.85;
}
.sidebar__23e6b [data-tab-id="VencordSettings"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/oneko.svg); 
}
.sidebar__23e6b [data-tab-id="EquicordPlugins"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/plugins.svg); 
}
.sidebar__23e6b [data-tab-id="VencordPlugins"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/plugins.svg); 
}
.sidebar__23e6b [data-tab-id="EquicordThemes"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/pallete.svg); 
}
.sidebar__23e6b [data-tab-id="VencordThemes"].item_b3f026:before {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath fill='%23989796' d='M14.48 11.06L7.41 3.99l1.5-1.5c.5-.56 2.3-.47 3.51.32c1.21.8 1.43 1.28 2.91 2.1c1.18.64 2.45 1.26 4.45.85zm-.71.71L6.7 4.7L4.93 6.47a.996.996 0 0 0 0 1.41l1.06 1.06c.39.39.39 1.03 0 1.42c-.6.6-1.43 1.11-2.21 1.69c-.35.26-.7.53-1.01.84C1.43 14.23.4 16.08 1.4 17.07c.99 1 2.84-.03 4.18-1.36c.31-.31.58-.66.85-1.02c.57-.78 1.08-1.61 1.69-2.21a.996.996 0 0 1 1.41 0l1.06 1.06c.39.39 1.02.39 1.41 0z'/%3E%3C/svg%3E"); 
}
.sidebar__23e6b [data-tab-id="EquicordUpdater"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/update.svg); 
}
.sidebar__23e6b [data-tab-id="VencordUpdater"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/update.svg); 
}
.sidebar__23e6b [data-tab-id="EquicordCloud"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/cloudsync.svg); 
}
.sidebar__23e6b [data-tab-id="VencordCloud"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/cloudsync.svg); 
}
.sidebar__23e6b [data-tab-id="EquicordSettingsSync"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/backupandrestore.svg); 
}
.sidebar__23e6b [data-tab-id="VencordSettingsSync"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/backupandrestore.svg); 
}
.sidebar__23e6b [data-tab-id="VencordDiscordIcons"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/icons.svg); 
}
.sidebar__23e6b [data-tab-id="ThemeLibrary"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/icons.svg); 
}
.sidebar__23e6b [data-tab-id="Vesktop"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/laptop.svg); 
}
.sidebar__23e6b [data-tab-id="Equibop"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/laptop.svg); 
}
/* OpenAsar settings */
.sidebar__23e6b [data-tab-id="OpenAsar"].item_b3f026:before {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/settings.svg); 
}

/* Context menus */
.menu_c1e9c4 :not(:has([class^=iconContainer_]))[id=].item_c1e9c4 {
    display: flex;
    gap: 12px;
    align-items: center;
}
.menu_c1e9c4 :not(:has([class^=iconContainer_]))[id].item_c1e9c4:after { 
    position: relative;
    display: none;
    content: " ";
    width: 20px;
    height: 20px;
    background-color: var(--interactive-normal);
    mask-size: 100%;
}
.menu_c1e9c4 [id="guild-header-popout-perm-viewer-permissions"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/permissions.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="channel-context-perm-viewer-permissions"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/permissions.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="guild-header-popout-vc-server-info"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/serverinfo.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="message-copy-image"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/copy.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="message-save-image"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/download.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="message-copy-native-link"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/link.svg) ; 
    display: flex !important;
}

.menu_c1e9c4 [id="channel-context-channel-copy-link"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/link.svg) ; 
    display: flex !important;
}

.menu_c1e9c4 [id="message-open-native-link"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/open.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="message-emote-cloner"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/copy.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="channel-context-clone-channel"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/copy.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="message-ml-toggle-style"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/cursor.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="message-ml-remove-history"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/close.svg) ; 
    display: flex !important;
    background-color: var(--text-danger) !important;
}
.menu_c1e9c4 [id="user-context-vc-ml-clear-channel"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/close.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="channel-context-vc-ml-clear-channel"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/close.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="message-favorite"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/favorite.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="channel-context-favorite-channel"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/favorite.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="channel-context-mark-channel-read"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/read.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="channel-context-invite-people"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/userplus.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="channel-context-opt-in-favorite-channel"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/pin.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="channel-context-opt-out-category"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/close.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="channel-context-edit-channel"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/pen.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="channel-context-create-text-channel"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/add.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="channel-context-delete-channel"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/delete.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="textarea-context-languages"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/custom/msg_translate_filled_solar.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="channel-context-opt-into-channel"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/minus.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="channel-context-vc-ml-clear-channel"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/close.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="guild-context-mark-folder-read"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/read.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="guild-context-folder-settings"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/settings.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="guild-context-folder-collapse"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/folderclose.svg) ; 
    display: flex !important;
}

.menu_c1e9c4 [id="user-context-user-profile"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/myaccount.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="user-context-mention"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/mention.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="user-context-message-user"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/message.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="user-context-call"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/call.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="user-context-note"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/notes.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="user-context-add-friend"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/userplus.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="user-context-ignore"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/ignore.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="user-context-block"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/block.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="user-context-mod-view"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/usershield.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="user-context-perm-viewer-permissions"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/permissions.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="user-context-set-timezone"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/compass.svg) ; 
    display: flex !important;
}

/* Vencord / Equicord toolbox */
.menu_c1e9c4 [id="vc-toolbox-vc-toolbox-notifications"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/notifications.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="vc-toolbox-vc-toolbox-quickcss"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/css.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="vc-toolbox-vc-toolbox-BadgeAPI-Refetch Badges"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/refetchbadges.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="vc-toolbox-vc-toolbox-IconViewer-Open Icons Tab"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/icons.svg) ; 
    display: flex !important;
}
